html {
    font-family: "Bahnschrift", serif;
    scroll-behavior: smooth;
    background-color: #6d1625;
}

body {
    margin: auto;
    max-width: 1080px;
}

h1 {
    font-size: xxx-large;
    color: whitesmoke;
    text-align: center;
}

h3 {
    font-size: large;
    color: whitesmoke;
    text-align: center;
}

.body {
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    left: 50%;
    right: 50%;
    max-width: 800px;
}

button {
    height: 50px;
    width: 90%;
    font-size: large;
    color: whitesmoke;
    background-color: darkslategray;
    border: 0;
    border-radius: 10px;
    justify-self: center;
    margin: 20px 5px 5px;
}

button:hover {
    color: black;
    background-color: lightslategray;
}

input:not(input[type="file"]) {
    background-color: darkslategray;
    color: whitesmoke;
    margin: 5px;
    padding-left: 15px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    width: 100%;
}

textarea {
    background-color: darkslategray;
    color: whitesmoke;
    margin: 5px;
    padding-left: 15px;
    padding-top: 15px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    width: 100%;
    resize: none;
}

#problem_id {
    height: 300px;
}

::placeholder {
    color: lightslategray;
}

::-webkit-calendar-picker-indicator {
    padding-right: 15px;
}

::-webkit-calendar-picker-indicator:hover {
    padding-bottom: 15px;
}

label {
    color: whitesmoke;
    font-size: larger;
    padding-left: 15px;
    margin-right: 10px;
}

#date_id {
    width: 75%;
}

form {
    margin: auto;
}

#btns_main {
    margin: auto;
    display: grid;
    grid-auto-columns: 1fr 1fr;
}

#signin_btn {
    grid-column: 1;
}

#signup_btn {
    grid-column: 2;
}

#btns {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#btns label {
    grid-column: 1/3;
    grid-row: 1;
    text-align: right;
    margin-top: 30px;
}

#btns input {
    grid-column: 3/-1;
    grid-row: 1;
}

#file_id {
    color: transparent;
    justify-self: right;
}

#file_id::-webkit-file-upload-button {
    visibility: hidden;
}

#file_id::after {
    grid-column: 3/-1;
    content: 'Upload image';
    color: whitesmoke;
    display: block;
    cursor: pointer;
    background-color: darkslategray;
    border-radius: 10px;
    height: 40px;
    width: 80%;
    text-align: center;
    padding-top: 20px;
    font-size: larger;
    margin-left: 20px;
}

#file_id:hover::after {
    background-color: lightslategray;
    color: black;
}

#btns_reg {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#submit_btn {
    grid-column: 1;
}

#clear_btn {
    grid-column: 2;
}

#back_btn {
    grid-column: 3;
}

#names_id {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 15px;
}

#names_id input {
    width: 90%;
}

#search_field{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

#admin_filter{
    width: 93.5%;
    height: 66%;
    margin-top: 8%;
}

select {
    background-color: darkslategray;
    color: lightslategray;
    margin: 5px;
    padding-left: 15px;
    height: 40px;
    border: 0;
    border-radius: 10px;
    width: 102%;
}

select:valid {
    color: whitesmoke;
}

select:hover {
    color: whitesmoke;
}